{% extends "base.html" %}
{% load static %}
{% block "title" %}
        <title>   سبد خرید </title>
{% endblock "title" %}
{% block "meta" %}
    <meta name="keywords" content="فیوز مینیاتوری, محافظ جان, کنتور دیجیتال, فروشگاه محصولات الکتریکی, تخفیف محصولات الکتریکی" />
    <meta name="description" content="فروشگاه اَلو فیوز بهترین محصولات الکتریکی را با تخفیف‌های ویژه ارائه می‌دهد. انواع فیوز، محافظ جان، و کنتورهای دیجیتال با کیفیت بالا و قیمت مناسب.">
    <meta name="author"  content="الوفیوز">
{% endblock "meta" %}
{% block "script" %}
    <script type="application/ld+json">
    {
       "@context": "https://schema.org",
       "@type": "WebPage",
       "name": "فروشگاه اَلو فیوز",
       "description": "فروشگاه اَلو فیوز بهترین محصولات الکتریکی را با تخفیف‌های ویژه ارائه می‌دهد.",
       "url": "{{ request.build_absolute_uri }}"
    }
    </script>
{% endblock "script" %}
{% block "main" %}
        <main class="main cart rtl text-right">
    <div class="page-content pt-7 pb-10">
        <div class="step-by pr-4 pl-4">
            <h3 class="title title-simple title-step active"><a href="cart.html">1. سبد خرید</a></h3>
            <h3 class="title title-simple title-step"><a href="checkout.html">2. صورت حساب</a></h3>
            <h3 class="title title-simple title-step"><a href="order.html">3. تکمیل خرید</a></h3>
        </div>
        <div class="container mt-7 mb-2">
            <div class="row">
                <div class="col-lg-8 col-md-12 pr-lg-4">
                    <table class="shop-table cart-table">
                        <thead>
                            <tr>
                                <th><span>محصول</span></th>
                                <th></th>
                                <th><span>قیمت</span></th>
                                <th><span>تعداد</span></th>
                                <th>قیمت بعد از تخفیف</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="product-thumbnail">
                                    <figure>
                                        <a href="#" title="مشاهده #">
                                            <img src="#" width="100" height="100"
                                            alt="تصویر محصول #">
                                        </a>
                                    </figure>
                                </td>
                                <td class="product-name">
                                    <div class="product-name-section">
                                        <a href="#"> فیوز مینیاتوری سه فاز </a>
                                    </div>
                                </td>
                                <td class="product-subtotal">
                                    <span class="amount"> تومان</span>
                                </td>
                                <td class="product-quantity">
                                    <div class="input-group">
                                        <button class="quantity-minus d-icon-minus"></button>
                                        <input class="quantity form-control" type="number" name="qut" min="1"
                                               max="1000000">
                                        <button class="quantity-plus d-icon-plus"></button>
                                    </div>
                                </td>
                                <td class="product-price">
                                    <span class="amount">تومان</span>
                                </td>
                                <td class="product-close">
                                    <a href="#" class="product-remove" title="حذف محصول">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                    <div class="cart-actions mb-6 pt-4">
                        <a href="../../../shopapp/templates/shopapp/shop.html" class="btn btn-dark btn-md btn-rounded btn-icon-left ml-4 mb-4">
                            ادامه خرید<i class="d-icon-arrow-left"></i>
                        </a>
                        <button type="submit"
                                class="btn btn-outline btn-dark btn-md btn-rounded btn-disabled">
                            به روز رسانی سبد خرید

                        </button>
                    </div>
                </div>
                <aside class="col-lg-4 sticky-sidebar-wrapper">
                    <div class="sticky-sidebar" data-sticky-options="{'bottom': 20}">
                        <div class="summary mb-4">
                            <h3 class="summary-title">جمع سبد خرید</h3>
                            <table class="shipping">
                                <tr class="summary-subtotal">
                                    <td>
                                        <h4 class="summary-subtitle">جمع بعد از تخفیف</h4>
                                    </td>
                                    <td>
                                        <p class="summary-subtotal-price">5,000,000 تومان</p>
                                    </td>
                                </tr>
                                <tr class="sumnary-shipping shipping-row-last">
                                    <td colspan="2">
                                        <h4 class="summary-subtitle">محاسبه حمل و نقل</h4>
                                        <ul>
                                            <li>
                                                <div class="custom-radio">
                                                    <input type="radio" id="flat_rate" name="shipping"
                                                           class="custom-control-input" checked>
                                                    <label class="custom-control-label" for="flat_rate">
                                                       پست
                                                    </label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="custom-radio">
                                                    <input type="radio" id="free-shipping" name="shipping"
                                                           class="custom-control-input">
                                                    <label class="custom-control-label" for="free-shipping">
                                                       پیک رایگان
                                                    </label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="custom-radio">
                                                    <input type="radio" id="local_pickup" name="shipping"
                                                           class="custom-control-input">
                                                    <label class="custom-control-label" for="local_pickup">
                                                        ارسال پیشتاز
                                                    </label>
                                                </div>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                            <div class="shipping-address">
                                <label>ارسال خرید به...</label>
                                
                                <div class="select-box">
                                    <select name="country" class="form-control">
                                        <option value="us" selected>ایران</option>
                                    </select>
                                </div>
                                <input type="text" class="form-control" name="code" placeholder=" شهر" />
                                <a href="#" class="btn btn-md btn-dark btn-rounded btn-outline">
                                    به روزرسانی
                                    جمع کل
                                </a>
                            </div>
                            <table class="total">
                                <tr class="summary-subtotal">
                                    <td>
                                        <h4 class="summary-subtitle">جمع</h4>
                                    </td>
                                    <td>
                                        <p class="summary-total-price ls-s">5,500,000 تومان</p>
                                    </td>
                                </tr>
                            </table>
                            <a href="checkout.html" class="btn btn-dark btn-rounded btn-checkout">
                                صورت حساب
                            </a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
        </main>
{% endblock "main" %}