{% extends "base.html" %}
{% load static %}
{% block "title" %}
	<title> صورت حساب </title>
{% endblock "title" %}
{% block "meta" %}
	 <meta name="keywords" content="فیوز مینیاتوری, محافظ جان, کنتور دیجیتال, فروشگاه محصولات الکتریکی, تخفیف محصولات الکتریکی" />
    <meta name="description" content="فروشگاه اَلو فیوز بهترین محصولات الکتریکی را با تخفیف‌های ویژه ارائه می‌دهد. انواع فیوز، محافظ جان، و کنتورهای دیجیتال با کیفیت بالا و قیمت مناسب.">
    <meta name="author"  content="الوفیوز">
{% endblock "meta" %}
{% block "script" %}
    <script type="application/ld+json">
    {
       "@context": "https://schema.org",
       "@type": "WebPage",
       "name": "فروشگاه اَلو فیوز",
       "description": "فروشگاه اَلو فیوز بهترین محصولات الکتریکی را با تخفیف‌های ویژه ارائه می‌دهد.",
       "url": "{{ request.build_absolute_uri }}"
    }
    </script>
{% endblock "script" %}
{% block "main" %}
		<main class="main checkout rtl text-right">
			<div class="page-content pt-7 pb-10 mb-10">
				<div class="step-by pr-4 pl-4">
					<h3 class="title title-simple title-step"><a href="cart.html">1. سبد خرید</a></h3>
					<h3 class="title title-simple title-step active"><a href="checkout.html">2. صورت حساب</a></h3>
					<h3 class="title title-simple title-step"><a href="order.html">3. تکمیل خرید</a></h3>
				</div>
				<div class="container mt-7">
					<div class="card accordion">
						<div class="alert alert-light alert-primary alert-icon mb-4 card-header">
							<i class="fas fa-exclamation-circle"></i>
							<span class="text-body">مشتری دائمی؟</span>
							<a href="#alert-body1" class="text-primary collapse">برای ورود اینجا کلیک کنید</a>
						</div>
						<div class="alert-body collapsed" id="alert-body1">
							<p>
								اگر قبلا از ما خرید کرده اید، لطفا مشخصات خود را در زیر وارد کنید.
								اگر مشتری جدید هستید، لطفاً به بخش صورت‌حساب بروید.
							</p>
							<div class="row cols-md-2">
								<form class="mb-4 mb-md-0">
									<label for="username">نام کاربری یا ایمیل</label>
									<input type="text" class="input-text form-control mb-0 text-left" name="username"
										   id="username" autocomplete="username">
								</form>
								<form class="mb-4 mb-md-0">
									<label for="password">رمز عبور *</label>
									<input class="input-text form-control mb-0 text-left" type="password" name="password"
										   id="password" autocomplete="current-password">
								</form>
							</div>
							<div class="checkbox d-flex align-items-center justify-content-between">
								<div class="form-checkbox pt-0 mb-0">
									<input type="checkbox" class="custom-checkbox" id="signin-remember"
										   name="signin-remember" />
									<label class="form-control-label" for="signin-remember">
										مرا به خاطرسپار
									</label>
								</div>
								<a href="#" class="lost-link">رمز عبور خود را فراموش کرده اید؟</a>
							</div>
							<div class="link-group">
								<a href="#" class="btn btn-dark btn-rounded mb-4">ورود</a>
								<span class="d-inline-block text-body font-weight-semi-bold">یا ورود با </span>
								<div class="social-links mb-4">
									<a href="#" class="social-link social-google fab fa-google"></a>
								</div>
							</div>
						</div>
					</div>
					<div class="card accordion">
						<div class="alert alert-light alert-primary alert-icon mb-4 card-header">
							<i class="fas fa-exclamation-circle"></i>
							<span class="text-body">آیا کد تخفیف دارید؟</span>
							<a href="#alert-body2" class="text-primary">کد تخفیف خود را اینجا وارد نمایید </a>
						</div>
						<div class="alert-body collapsed" id="alert-body2">
							<p>اگر کد تخفیف دارید، لطفاً آن را در زیر اعمال کنید.</p>
							<div class="check-coupon-box d-flex">
								<input type="text" name="coupon_code"
									   class="input-text form-control text-grey ls-m mr-4 mb-4" id="coupon_code" value=""
									   placeholder="کد تخفیف">
								<button type="submit" class="btn btn-dark btn-rounded btn-outline mb-4">
									اعمال کد تخفیف
								</button>
							</div>
						</div>
					</div>
					<form action="#" class="form">
						<div class="row">
							<div class="col-lg-7 mb-6 mb-lg-0 pr-lg-4">
								<h3 class="title title-simple text-uppercase">جزئیات صورتحساب</h3>
								<div class="row">
									<div class="col-xs-6">
										<label>نام *</label>
										<input type="text" class="form-control" name="first-name" required="" />
									</div>
									<div class="col-xs-6">
										<label>نام خانوادگی *</label>
										<input type="text" class="form-control" name="last-name" required="" />
									</div>
								</div>
								<label>نام شرکت (اختیاری)</label>
								<input type="text" class="form-control" name="company-name" required="" />
								<label>کشور / منطقه *</label>
								<div class="select-box">
									<select name="country" class="form-control">
										<option value="us" selected>ایران</option>
									</select>
								</div>
								<label>آدرس *</label>
								<input type="text" class="form-control" name="address1" required=""
									   placeholder="نام محله ، نام خیابان" />
								<input type="text" class="form-control" name="address2" required=""
									   placeholder="آپارتمان، سوئیت، واحد و غیره (اختیاری)" />
								<div class="row">
									<div class="col-xs-6">
										<label>شهر / منطقه *</label>
										<input type="text" class="form-control" name="city" required="" />
									</div>
									<div class="col-xs-6">
										<label>وضعیت *</label>
										<input type="text" class="form-control" name="state" required="" />
									</div>
								</div>
								<div class="row">
									<div class="col-xs-6">
										<label>پلاک *</label>
										<input type="text" class="form-control text-left" name="zip" required="" />
									</div>
									<div class="col-xs-6">
										<label>تلفن *</label>
										<input type="text" class="form-control text-left" name="phone" required="" />
									</div>
								</div>
                                <div class="row">
									<div class="col-xs-6">
										<label>ایمیل</label>
										<input type="text" class="form-control text-left" name="email-address" required="" />
									</div>
									<div class="col-xs-6">
										<label>کدپستی *</label>
										<input type="text" class="form-control text-left" name="postal-code" required="" />
									</div>
								</div>
								<div class="form-checkbox mb-0">
									<input type="checkbox" class="custom-checkbox" id="create-account"
										   name="create-account">
									<label class="form-control-label ls-s" for="create-account">
										ایجاد حساب کاربری
									</label>
								</div>
								<div class="form-checkbox mb-6">
									<input type="checkbox" class="custom-checkbox" id="different-address"
										   name="different-address">
									<label class="form-control-label ls-s" for="different-address">
										آدرس یکی از نزدیکان
									</label>
								</div>
								<h2 class="title title-simple text-uppercase ">اطلاعات تکمیلی</h2>
								<label>یاداشت های سفارش (اختیاری)</label>
								<textarea class="form-control pb-2 pt-2 mb-0" cols="30" rows="5"
										  placeholder="نکاتی در مورد سفارش شما، به عنوان مثال یاداشت های ویژه برای تحویل"></textarea>
							</div>
							<aside class="col-lg-5 sticky-sidebar-wrapper">
								<div class="sticky-sidebar mt-1" data-sticky-options="{'bottom': 50}">
									<div class="summary pt-5">
										<h3 class="title title-simple text-uppercase">سفارش شما</h3>
										<table class="order-table">
											<thead>
												<tr>
													<th>محصول</th>
													<th></th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="product-name">
														   فیوز مینیاتوری سه فاز <span class="product-quantity">×&nbsp;1</span>
													</td>
													<td class="product-total text-body">1,200,000 تومان</td>
												</tr>
												<tr>
													<td class="product-name">
														  فیوز مینیاتوری تک فاز  <span class="product-quantity">×&nbsp;1</span>
													</td>
													<td class="product-total text-body">3,500,000 تومان</td>
												</tr>
												<tr class="summary-subtotal">
													<td>
														<h4 class="summary-subtitle">جمع قبل از تخفیف </h4>
													</td>
													<td class="summary-subtotal-price pb-0 pt-0">
														4,700,000 تومان
													</td>
												</tr>
												<tr class="sumnary-shipping shipping-row-last">
													<td colspan="2">
														<h4 class="summary-subtitle">محاسبه حمل و نقل</h4>
														<ul>
															<li>
																<div class="custom-radio">
																	<input type="radio" id="flat_rate" name="shipping"
																		   class="custom-control-input" checked>
																	<label class="custom-control-label"
																		   for="flat_rate">پست</label>
																</div>
															</li>
															<li>
																<div class="custom-radio">
																	<input type="radio" id="free-shipping"
																		   name="shipping" class="custom-control-input">
																	<label class="custom-control-label"
																		   for="free-shipping">
																		ارسال رایگان
																	</label>
																</div>
															</li>
															<li>
																<div class="custom-radio">
																	<input type="radio" id="local_pickup"
																		   name="shipping" class="custom-control-input">
																	<label class="custom-control-label"
																		   for="local_pickup">پیک</label>
																</div>
															</li>
														</ul>
													</td>
												</tr>
												<tr class="summary-total">
													<td class="pb-0">
														<h4 class="summary-subtitle">جمع نهایی</h4>
													</td>
													<td class=" pt-0 pb-0">
														<p class="summary-total-price ls-s text-primary">4,500,000 تومان</p>
													</td>
												</tr>
											</tbody>
										</table>
										<div class="payment accordion radio-type">
											<h4 class="summary-subtitle ls-m pb-3">نحوه پرداخت </h4>
											<div class="payment accordion radio-type">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <a href="#collapse1" class="collapse">انتقال به صفحه پرداخت</a>
                                                    </div>
                                                    <div id="collapse1" class="expanded">
                                                        <div class="card-body">
                                                            بعد از انجام تراکنش لطفا قبض را نزد خود نگه دارید تا اگر مرجوعی صورت گرفت روند آن برای شما کمتر زمان ببرد.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header">
                                                        <a href="#collapse2" class="expand">پرداخت با همراه بانک</a>
                                                    </div>
                                                    <div id="collapse2" class="collapsed">
                                                        <div class="card-body">
                                                            بعد از انتقال از قبض اسکرین شات گرفته تا درصورت مرجوعی زمان کمتری از شما گرفته شود.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
										</div>
										<div class="form-checkbox mt-4 mb-5">
											<input type="checkbox" class="custom-checkbox" id="terms-condition"
												   name="terms-condition" />
											<label class="form-control-label" for="terms-condition">
												من شرایط و ضوابط وبسایت را خوانده ام و با آن موافقم .<a href="#">
												</a>
											</label>
										</div>
										<button type="submit" class="btn btn-dark btn-rounded btn-order">
											ثبت سفارش
										</button>
									</div>
								</div>
							</aside>
						</div>
					</form>
				</div>
			</div>
		</main>
{% endblock "main" %}