{% extends "base.html" %}
{% load static %}
{% block "title" %}
        <title>  درباره ما </title>
{% endblock "title" %}
{% block "meta" %}
    <meta name="keywords" content="فیوز مینیاتوری, محافظ جان, کنتور دیجیتال, فروشگاه محصولات الکتریکی, تخفیف محصولات الکتریکی" />
    <meta name="description" content="فروشگاه اَلو فیوز بهترین محصولات الکتریکی را با تخفیف‌های ویژه ارائه می‌دهد. انواع فیوز، محافظ جان، و کنتورهای دیجیتال با کیفیت بالا و قیمت مناسب.">
    <meta name="author"  content="الوفیوز">
{% endblock "meta" %}
{% block "script" %}
    <script type="application/ld+json">
    {
       "@context": "https://schema.org",
       "@type": "WebPage",
       "name": "فروشگاه اَلو فیوز",
       "description": "فروشگاه اَلو فیوز بهترین محصولات الکتریکی را با تخفیف‌های ویژه ارائه می‌دهد.",
       "url": "{{ request.build_absolute_uri }}"
    }
    </script>
{% endblock "script" %}
{% block "main" %}
       <main class="main rtl text-right">
    <div class="page-header pl-4 pr-4" style=" background-color: #57b7c6 ">
        <h3 class="page-subtitle font-weight-bold">خوش آمدید به الو فیوز</h3>
        <h1 class="page-title font-weight-bold lh-1 text-white text-capitalize">درباره ما</h1> 
    </div>
    <div class="page-content mt-10 pt-10">
        <!-- About Section -->
        <section class="customer-section pb-10 appear-animate">
            <div class="container">
                <div class="row align-items-center">
                    <div class="text-right">
                        <h3 class="section-title font-weight-bold text-center">
                            #
                        </h3>
                        <p class="section-desc text-grey" style="text-align: right;">
                          ##
                        </p>
                        <a href="../../../shopapp/templates/shopapp/shopproduct.html" class="btn btn-dark btn-link btn-underline ls-m">
                            از محصولات ما دیدن کنید <i class="d-icon-arrow-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Section -->
    </div>
       </main>
{% endblock "main" %}