{% extends "base.html" %}
{% load static %}
{% block "title" %}
        <title>   تماس با ما </title>
{% endblock "title" %}
{% block "meta" %}
     <meta name="keywords" content="فیوز مینیاتوری, محافظ جان, کنتور دیجیتال, فروشگاه محصولات الکتریکی, تخفیف محصولات الکتریکی" />
    <meta name="description" content="فروشگاه اَلو فیوز بهترین محصولات الکتریکی را با تخفیف‌های ویژه ارائه می‌دهد. انواع فیوز، محافظ جان، و کنتورهای دیجیتال با کیفیت بالا و قیمت مناسب.">
    <meta name="author"  content="الوفیوز">
{% endblock "meta" %}
{% block "main" %}
         <main class="main rtl text-right">
            
            <div class="page-header" style=" background-color: #57b7c6 ">
                <h1 class="page-title font-weight-bold text-capitalize ls-l">تماس با ما</h1>
            </div>
            <div class="page-content mt-10 pt-7">
                <section class="contact-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-6 ls-m mb-4">
                                <div class="grey-section d-flex align-items-center h-100">
                                    <div>
                                        <h4 class="mb-2 text-capitalize">آدرس فروشگاه</h4>
                                        <p>
                                                    #
                                        </p>
                                        <h4 class="mb-2 text-capitalize">تلفن فروشگاه</h4>
                                        <p>
                                            <a href="tel:#"> # </a>
                                            
                                        </p>
                                        <h4 class="mb-2 text-capitalize">ایمیل فروشگاه</h4>
                                        <p class="mb-4">
                                            <a href="#">b #</a>
                                                                                     
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-8 col-sm-6 d-flex align-items-center mb-4">
                                <div class="w-100">
                                    <form class="pl-lg-2" action="#">
                                        <h4 class="ls-m font-weight-bold">ارتباط با ما</h4>
                                        <p>
                                            فیلد های ستاره دار الزامی هستند .
                                        </p>
                                        <div class="row mb-2">
                                            <div class="col-12 mb-4">
                                                <textarea class="form-control" required
                                                          placeholder="متن*"></textarea>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <input class="form-control" type="text" placeholder="نام *" required>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <input class="form-control text-left" type="email" placeholder="ایمیل *" required>
                                            </div>
                                        </div>
                                        <button class="btn btn-dark btn-rounded">
                                            ارسال پیام <i class="d-icon-arrow-left"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
                <!-- End Store Section -->

               
                <!-- End Map Section -->
            </div>
        </main>
{% endblock "main" %}