<!DOCTYPE html>
{% load static %}
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    {% block title %}
    {% endblock title %}
    {% block meta %}
    {% endblock meta %}

    <!-- Preload Font -->
    <link rel="preload" href="{% static 'fonts/riode.ttf?5gap68' %}" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="{% static 'vendor/fontawesome-free/webfonts/fa-solid-900.woff2' %}" as="font" type="font/woff2"
          crossorigin="anonymous">
    <link rel="preload" href="{% static 'vendor/fontawesome-free/webfonts/fa-brands-400.woff2' %}" as="font" type="font/woff2"
          crossorigin="anonymous">
          <link rel="icon" type="image/png" href="Logo/aloo-fiooz-ai-1.png">
    <script>
        WebFontConfig = {
            google: { families: ['vazir:400,500,600,700,800,900'] }
        };
        (function (d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = "{% static  'js/webfont.js' %}";
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>
     {% block script %}
{% endblock script %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.min.css' %}">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/magnific-popup/magnific-popup.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/sticky-icon/stickyicon.css' %}">
    <!-- Font Vazir -->
    <link href="{% static 'fonts/vazir/font-vazir.css' %}" rel="stylesheet" />
    <!-- Main CSS File -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/demo6.min.css' %}">
</head>
<body class="about-us">
    <div class="page-wrapper">
         <h1 class="d-none"> فروشگاه  آنلاین اَلو فیوز </h1>
        <header class="header header-border rtl text-right">
            <div class="header-middle sticky-header fix-top sticky-content has-center">
                <div class="container">
                    <div class="header-right">
                        <a href="#" class="mobile-menu-toggle" aria-label="منوی موبایل">
                            <i class="d-icon-bars2"></i>
                        </a>
                        <nav class="main-nav">
                            <ul class="menu">
                                <li>
                                    <a href="{% url "coreapps:indexs" %}"><i class="fas fa-home"></i> خانه</a>
                                </li>
                                <li >
                                    <a href="{% url 'shopapps:shops' %}"><i class="fas fa-store-alt"></i> محصولات <i class="fas fa-angle-down"></i></a>
                                    <ul>
                                        <li  >
                                            <a href="#"> فیوز مینیاتوری  </a>
                                        </li>
                                        <li  >
                                            <a href="#"> محافظ جان </a>
                                        </li>
                                        <li  >
                                            <a href="#">  کنتور دیجتال  </a>
                                        </li>

                                    </ul>
                                </li>
                                <li>
                                    <a href="{% url 'coreapps:abouts' %}"><i class="fas fa-street-view"></i>  درباره ما </a>
                                </li>
                                <li >
                                        <li><a href="{% url 'coreapps:contacts' %}"> <i class="fas fa-comments"></i> تماس با ما </a></li>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header-center">
                        <a href="/static" class="logo">
                            <img src="# " alt="لوگوی فروشگاه الوفیوز" width="153" height="44" />
                        </a>
                        <!-- End of Logo -->
                    </div>
                    <div class="header-left">
                        <a href="{% url 'usersapps:logins' %}" ><i class="fas fa-user"></i>ورود
                        </a>
                    &nbsp;                     &nbsp;
                    <span class="divider"></span>
                    <div class="dropdown cart-dropdown type2 off-canvas mr-0 mr-lg-2">
                        <a href="#" class="cart-toggle label-block link">
                            <div class="cart-label d-lg-show">
                                <span class="cart-name">سبد خرید:</span>
                                <span class="cart-price">5,700,000 تومان</span>
                            </div>
                            <i class="d-icon-bag"><span class="cart-count">2</span></i>
                        </a>
                        <div class="canvas-overlay"></div>
                        <!-- End Cart Toggle -->
                        <div class="dropdown-box">
                            <div class="canvas-header">
                                <h4 class="canvas-title">سبد خرید</h4>
                                <a href="#" class="btn btn-dark btn-link btn-icon-right  btn-close">بستن<i
                                        class="d-icon-arrow-left"></i><span class="sr-only">سبد خرید</span></a>
                            </div>
                            <div class="products scrollable">
                                <div class="product product-cart">
                                    <figure class="product-media">
                                        <a href="{% url 'shopapps:shopproducts' %}">
                                            <img src="#" alt="##" width="80"
                                                height="88" />
                                        </a>
                                        <button class="btn btn-link btn-close">
                                            <i class="fas fa-times"></i><span class="sr-only">بستن</span>
                                        </button>
                                    </figure>
                                    <div class="product-detail">
                                        <a href="{% url 'shopapps:shopproducts' %}" class="product-name">   کنتور دیجتال تک فاز  </a>
                                        <div class="price-box">

                                            <span class="product-price">1,700,000 تومان</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- End of Cart Product -->
                            </div>
                            <!-- End of Products  -->
                            <div class="cart-total">
                                <label>جمع سبد:</label>
                                <span class="price">5,700,000 تومان</span>
                            </div>
                            <!-- End of Cart Total -->
                            <div class="cart-action">
                                <a href="{% url 'orderapps:carts' %}" class="btn btn-dark btn-link">سبد خرید</a>
                                <a href="{% url 'orderapps:checkouts' %}" class="btn btn-dark"><span>پرداخت</span></a>
                            </div>
                            <!-- End of Cart Action -->
                        </div>
                        <!-- End Dropdown Box -->
                    </div>
                        <div class="header-search hs-toggle mobile-search">
                            <a href="#" class="search-toggle">
                                <i class="d-icon-search"></i>
                            </a>
                            <form action="#" class="input-wrapper">
                                <input type="text" class="form-control" name="search" autocomplete="off"
                                       placeholder="جستجو ..." required />
                                <button class="btn btn-search" type="submit">
                                    <i class="d-icon-search"></i>
                                </button>
                            </form>
                        </div>
                        <!-- End of Header Search -->
                    </div>
                </div>
            </div>
        </header>
        <!-- End Header -->
        {% block main %}
        {% endblock main %}
        <!-- End Main -->
       <footer class="footer rtl text-right">
            <div class="container">
                <div class="footer-top">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <a href="{% url "coreapps:indexs" %}" class="logo-footer" aria-label="لوگوی فروشگاه الوفیوز">
                                <img src="#" alt="لوگوی فروشگاه الوفیوز" width="154" height="43" />
                            </a>
                            <!-- End FooterLogo -->
                        </div>
                        <div class="col-lg-9">
                            <div class="widget widget-newsletter form-wrapper form-wrapper-inline">
                                <div class="newsletter-info mx-auto mr-lg-2 ml-lg-4">
                                    <h4 class="widget-title"> اولین نفری باشید که باخبر می‌شود! </h4>
                                    <p>جزء اولین کسانی باشید که از تخفیف ها و محصولات جدید ما باخبر می شوند.</p>
                                </div>
                                <form action="#" method="post" class="input-wrapper input-wrapper-inline input-wrapper-round">
                                    <input type="tel" class="form-control" name="phone" placeholder="ایمیل  خود را وارد کنید" aria-label="شماره موبایل" required pattern="09[0-9]{9}">
                                    <button class="btn btn-primary btn-rounded btn-md mr-2" type="submit" aria-label="  ارسال  ">ارسال <i
                                        class="d-icon-arrow-left"></i> </button>
                                </form>
                            </div>
                            <!-- End Newsletter -->
                        </div>
                    </div>
                </div>
                <!-- End FooterTop -->
                <div class="footer-middle">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="widget widget-info">
                                <h4 class="widget-title"> تماس با ما </h4>
                                <ul class="widget-body ">
                                    <li>
                                        <label>شماره تلفن:</label>
                                        <a href="tel:#">#</a>
                                    </li>
                                    <li>
                                        <label>ایمیل:</label>
                                        <a href="#">#</a></li>
                                    </li>
                                    <li>
                                        <label>آدرس:</label>
                                        <a href="#"> # </a>
                                    </li>
                                    <li>
                                        <label>ساعات کاری:</label>
                                        <a href="#">#</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Widget -->
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="widget ml-lg-4">
                                <a href="{% url 'usersapps:logins' %}"><h4 class="widget-title">حساب کاربری</h4></a>
                                <ul class="widget-body ">
                                    <li>
                                        <a href="{% url 'coreapps:abouts' %}">درباره ما</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'orderapps:carts' %}">  سبد خرید</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Widget -->
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="widget ml-lg-4">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d202.53299415040192!2d51.42230305820703!3d35.68862470395649!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e018e64cd4b23%3A0xd7d6da28ff15f564!2z2b7Yp9iz2KfamCDYudiy2YrYstmK!5e0!3m2!1sen!2s!4v1728208360628!5m2!1sen!2s" width="209" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                            <!-- End Widget -->
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="widget widget-instagram">
                                <h4 class="widget-title">نمادهای اعتماد الکترونیک</h4>
                                <figure class="widget-body row">
                                    <div class="nemad-box"><img src="/images/enemad.png" alt="نماد اعتماد الکترونیک"></div>
                                    <div class="nemad-box"><img src="/images/samandehi.png" alt="نماد ساماندهی"></div>
                                </figure>
                            </div>
                            <!-- End Instagram -->
                        </div>
                    </div>
                </div>
                <!-- End FooterMiddle -->
                <div class="footer-bottom">
                    <div class="footer-right">

                    </div>
                    <div class="footer-center">
                        <p class="copyright">    آکادمی هوشمند رضا  &copy;  کلیه حقوق محفوظ است .</p>
                    </div>
                    <div class="footer-left ">
                        <div class="social-links social-default pt-2 justify-content-center">
                            <a href="#" class="social-link social-linkedin fab fa-instagram"></a>
                            <a href="#" class="social-link social-email far fa-envelope"></a>
                        </div>
                    </div>
                </div>
                <!-- End FooterBottom -->
            </div>
        </footer>
        <!-- End Footer -->
    </div>
    <!-- Sticky Footer -->
    <div class="sticky-footer sticky-content fix-bottom rtl text-right">
        <a href="{% url "coreapps:indexs" %}" class="sticky-link active" aria-label="بازگشت به خانه">
            <i class="d-icon-home"></i>
            <span>خانه</span>
        </a>
        <a href="{% url 'usersapps:accounts' %}" class="sticky-link" aria-label="مشاهده  حساب کاربری">
            <i class="d-icon-user"></i>
            <span>حساب کاربری</span>
        </a>
        <div class="header-search hs-toggle dir-up">
            <a href="#" class="search-toggle sticky-link">
                <i class="d-icon-search"></i>
                <span>جستجو</span>
            </a>
            <form action="#" class="input-wrapper">
                <input type="text" class="form-control" name="search" autocomplete="off"
                       placeholder="جستجو ..." required />
                <button class="btn btn-search" type="submit" title="submit-button">
                    <i class="d-icon-search"></i>
                </button>
            </form>
        </div>
    </div>
    <!-- Scroll Top -->
    <a id="scroll-top" href="#top" title="Top" role="button" class="scroll-top"><i class="d-icon-arrow-up"></i></a>
    <!-- MobileMenu -->
   <div class="mobile-menu-wrapper">
        <div class="mobile-menu-overlay">
        </div>
        <!-- End of Overlay -->
        <a class="mobile-menu-close" href="#" aria-label="بستن منوی موبایل"><i class="d-icon-times"></i></a>
        <!-- End of CloseButton -->
        <div class="mobile-menu-container scrollable">

            <ul class="mobile-menu mmenu-anim">
                <li>
                    <a href="{% url "coreapps:indexs" %}">صفحه اصلی</a>
                </li>
                <li>
                    <a href=# class="active">محصولات</a>
                    <ul>
                        <li>
                        <a href="{% url 'shopapps:shops' %}">#  </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">سایر صفحات</a>
                    <ul>
                        <li><a href="{% url 'coreapps:abouts' %}">درباره ما</a></li>
                        <li><a href="{% url 'coreapps:contacts' %}">تماس با ما</a></li>
                        <li><a href="{% url 'usersapps:logins' %}">حساب کاربری</a></li>
                    </ul>
                </li>
            </ul>
            <!-- End of MobileMenu -->
        </div>
    </div>
    <!-- Plugins JS File -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/jquery.count-to/jquery-numerator.min.js' %}"></script>
    <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'vendor/owl-carousel/owl.carousel.min.js' %}"></script>
    <!-- Main JS File -->
    <script src="{% static  'js/main.min.js' %}"></script>
</body>
</html>